@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Checkout my (upcoming) blog at <a href="https://blog.zube.com">blog.zube.com</a>.</p>
</div>
